* {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Courier New", Courier, monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #b5b5b5ad;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 200px 1fr;
  background-color: #e3e8f1;
}

h4 {
  margin-bottom: 5px;
}

/* body > div {
  border: 1px solid;
} */

.sidebar {
  grid-row: 1 / -1;
  background-color: #1992d4;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 350px 1fr 20px;
}

.header {
  background-color: white;
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 10px 30px;
}

.header-bottom,
.header-top {
  display: grid;
  grid-template-columns: 2fr 500px;
}

.header-bottom-right {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
  align-items: center;
  justify-items: center;
  justify-content: end;
}

.header-bottom-left {
  display: grid;
  grid-template-columns: 100px 300px;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.header-bottom-left > img {
  grid-row: 1 / -1;
  justify-self: start;
}

.header-top-left {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.top-search {
  background-color: #e3e8f1;
  border: none;
  height: 1.5rem;
  border-radius: 0.75rem;
  padding-left: 10px;
  margin-left: 10px;
  max-width: 50%;
  min-width: 350px;
}

button {
  color: white;
  background-color: #1992d4;
  width: 125px;
  height: 3rem;
  border-radius: 1.5rem;
  border: none;
}

button:hover {
  background-color: #1992d4c7;
}

button:active {
  border: 2px solid;
}

.main-content {
  background-color: #e3e8f1;
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: repeat(auto-fit, minmax(450px, auto));
  gap: 30px;
  margin: 30px 30px 100px 30px;
}

.main-content > div {
  /* border: 1px solid; */
  display: grid;
  grid-template-rows: auto 1fr;
}

.announcements-cards,
.trending-cards {
  background-color: white;
  /* border: 1px solid; */
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(121, 121, 121, 0.8);
  padding: 20px;
  display: grid;
  align-items: center;
}

.announcements-cards {
  grid-template-rows: repeat(3, 1fr);
}

.trending-cards {
  grid-template-rows: repeat(4, 1fr);
}

.projects {
  grid-row: 1 / -1;
}

.projects-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
}

.card {
  border: 15px solid;
  border-style: none none none solid;
  border-color: #f1b428;
  border-radius: 15px;
  background-color: white;
  box-shadow: 5px 5px 15px rgba(121, 121, 121, 0.8);
  min-height: 350px;
  display: grid;
  grid-template-rows: 40px 1fr 40px;
  padding: 25px;
}

.main-content > * > h2 {
  margin-bottom: 10px;
}

.card-buttons > a > img {
  height: 30px;
}

.card-buttons {
  justify-self: end;
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.announcement {
  display: grid;
  align-content: center;
}

.announcement > p {
  font-size: 0.75rem;
  padding-bottom: 10px;
}

.announcement > h4 {
  padding-top: 10px;
}

.announcements-cards > div {
  border-bottom: 1px solid #babec6;
}
.announcements-cards > div:last-child {
  border-bottom: none;
}

.trending-icon > img {
  height: 50px;
  align-self: center;
  justify-self: center;
}

.trending-content {
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-template-rows: 1.5rem 1.5rem;
  align-items: center;
}

.trending-icon {
  grid-row: 1 / -1;
  display: grid;
}

.trending-text {
  font-size: 0.85rem;
}

.card-content,
.trending-text,
.announcement > p {
  color: rgb(125, 124, 124);
}

.dashboard {
  margin-top: 20px;
}

.dashboard > img {
  height: 40px;
  filter: invert(100%);
  margin: 0 20px;
  justify-self: center;
}

.links {
  display: grid;
  grid-template-rows: repeat(auto-fit, 50px);
  margin-top: 100px;
  height: 300px;
}
.links > * > img,
.menu > * > img {
  height: 25px;
  filter: invert(100%);
  justify-self: center;
}

.sidebar-container {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
}

.menu {
  display: grid;
  grid-template-rows: repeat(auto-fit, 50px);
  margin-top: 100px;
}

.footer {
  text-align: center;
  font-size: 0.75rem;
}
