* {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Courier New", Courier, monospace;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 175px 1fr;
  background-color: #e3e8f1;
}

/* body > div {
  border: 1px solid;
} */

.sidebar {
  grid-row: 1 / -1;
  background-color: #1992d4;
  color: white;
}

.header {
  background-color: white;
}

.main-content {
  background-color: #e3e8f1;
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  margin: 30px;
}

.main-content > div {
  border: 1px solid;
  display: grid;
  grid-template-rows: auto 1fr;
}

.announcements-cards,
.trending-cards {
  background-color: white;
  border: 1px solid;
  border-radius: 15px;
}

.projects {
  grid-row: 1 / -1;
}

.projects-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}

.card {
  border: 1px solid;
  border-radius: 15px;
  background-color: white;
}

h2 {
  margin-bottom: 5px;
}
